@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}
body {
  background-color: #1f2937;
  background-blend-mode:saturation;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.portfolio-card{
    background: rgb(60, 87, 117);
}

.gradient-text{
background-clip: text;
background: linear-gradient(rgb(207, 213, 217) , rgb(100, 115, 124));
/* check */
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.scroll-bar::-webkit-scrollbar{
  width: 5px;
  background-color: transparent;
}

.scroll-bar::-webkit-scrollbar-thumb{
  background-color:rgb(60, 87, 117);
  border-radius: 20px;
}